{% extends 'layout.html' %}
{% block title %}Lista Clientes{% endblock %}
{% block content %}
<div class="card">
  <div class="card-header">
    <a class="btn btn-success" href="{% url 'clientes_agregar' %}">Añadir Cliente</a>
  </div>
  <div class="card-body">
    <h4 class="card-title">Clientes</h4>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Nombres</th>
            <th scope="col">Apellidos</th>
            <th scope="col">Documento</th>
            <th scope="col">Teléfono</th>
            <th scope="col">Correo</th>
            <th scope="col">Estado</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          {% for clientes in clientes %}
          <tr>
            <td scope="row">{{ clientes.id }}</td>
            <td>{{ clientes.idPersona.nombrePersona }}</td>
            <td>{{ clientes.idPersona.apellidoPersona }}</td>
            <td>{{ clientes.idPersona.numeroDocumentoPersona }}</td>
            <td>{{ clientes.idPersona.telefonoPersona }}</td>
            <td>{{ clientes.idPersona.emailPersona }}</td>
            <td>{{ clientes.idEstado.estado }}</td>
            <td>
              <a class="btn btn-danger btn-sm" href="{% url 'clientes_eliminar' clientes.id %}">Eliminar</a>
              <a class="btn btn-primary btn-sm" href="{% url 'clientes_editar' clientes.id %}">Editar</a>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="8">No hay clientes disponibles.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="card-footer text-muted"></div>
</div>
{% endblock %}