<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {% for campo in form %}
        <div class="mb-3">
            <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
            {% if campo.field.widget.input_type == "file" %}
                <br/>
                {% if campo.value %}
                    <img src="{{ campo.value.url }}" alt="Imagen actual" style="max-width: 200px; max-height: 200px;"/>
                    <br/>
                {% endif %}
            {% endif %}
            {{ campo }}
            <div class="col-12 help-text">{{ campo.errors }}</div>
        </div>
    {% endfor %}
    <input type="submit" class="btn btn-success" value="Guardar"/>
    <a href="{% url 'index' %}" class="btn btn-primary">Cancelar</a>
</form>
